.parent {
  padding: 25px;
  background-color: blanchedalmond;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  height: 350px;
  align-items: center;
flex-direction: column;
flex-wrap: wrap;
}



.child {
  border: 2px solid rgb(15, 158, 160);
  background-color: rgb(178, 228, 229);
  padding: 20px;
  font-size: 20px;
   
  /*display: inline;
  
}