.parent{
  background-color: gray;
display: flex;
gap: 30px;
justify-content: space-between;
height: 300px;
align-items: center;
}


.child{
  border: 2px solid #adff2f;
  background: aqua;
  padding: 20px;
  font-size: 28px;
  /* margin: 10px 0; */
  /* display: inline; */
  width: 400px;
}